.todo_form {
    text-align: center;
    background-color: teal;
    width: 350px;
    height: 100vh;
    margin-top: 80px;
    position: absolute;
    top: -64px;
    left: 40%;
    justify-content: center;
}

h1 {
    text-decoration:
}

.todoadds {
    padding: 10px 25px;
    cursor: pointer;
    margin: 5px;
}

.todo-button {
    padding: 10px 15px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: green;
}

.todo_entry {
    display: flex;
    justify-content: center
}

.todo_label {
    font-size: 15px;
    font-weight: bolder;
    align-self: center;
}

.todo_item {
    padding: ;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: ;
    font-weight: bolder;
}

.lists {
    display: flex;
    flex-shrink: ;
    border: 1px thick;
    flex-wrap: no-wrap;
}

.delete_todo {
    padding: 10px 15px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 40px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}